<div>
	<div class="panel panel-default">
		<div class="panel-heading" style="text-align:right"><strong>دریافت</strong></div>
  		<div class="panel-body" style="direction:rtl">
			<table class="table notifications-table">
				<tbody>
					<tr>
						<td>
							برند گوشی :
						</td>
						<td>
							<multiselect class="input-xlarge" multiple="true" ng-model="selectedBrands" options="brand for brand in brands" change="selected()" ms-header="انتخاب برند"></multiselect>
						</td>
						<td>
							مدل گوشی :
						</td>
						<td>							
							<multiselect class="input-xlarge" multiple="true" ng-model="selectedModels" options="model for model in models" change="selected()" ms-header="انتخاب مدل گوشی"></multiselect>
						</td>
						<td>
							نام سیستم عامل :
						</td>
						<td>							
							<multiselect class="input-xlarge" multiple="true" ng-model="selectedOSs" options="os for os in OSs" change="selected()" ms-header="انتخاب نام سیستم عامل"></multiselect>
						</td>
					</tr>
					<tr>
						<td>
							ورژن سیستم عامل :
						</td>
						<td>							
							<multiselect class="input-xlarge" multiple="true" ng-model="selectedOsVersions" options="version for version in osVersions" change="selected()" ms-header="انخاب ورژن سیستم عامل"></multiselect>
						</td>
						<td>
							ورژن نرم افزار :
						</td>
						<td>							
							<multiselect class="input-xlarge" multiple="true" ng-model="selectedSoftwareVersions" options="version for version in softwareVersions" change="selected()" ms-header="انتخاب ورژن نرم افزار"></multiselect>
						</td>
						<td>
							تاریخ نمایس اعلان
						</td>
						<td class="datepicker-td">
							<p class="input-group">
					             <span class="input-group-btn">
					               <button type="button" class="btn btn-default" ng-click="opn($event)"style="border-radius:0;padding: 9px;"><i class="glyphicon glyphicon-calendar"></i></button>
					             </span>
              					<input type="text" show-weeks="false" class="form-control lbs-datepicker" datepicker-popup="{{format}}" ng-model="dt" is-open="opnd" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="بستن" clear-text="پاک کردن" current-text="امروز" starting-day="6" />
            				</p>	
						</td>
					</tr>
					<tr class="bordered">
						<td>
							<select class="form-control" ng-model="selectedNotificationType" style="direction:rtl">
								<option value="" ng-click="refresh()">-- نوع اعلان --</option>
								<option value="ad_url" ng-click="refresh()">تبلیغاتی نوع یک</option>
								<option value="ad_type" ng-click="refresh()">تبلیغاتی نوع دو</option>
								<option value="update_url" ng-click="refresh()">آپدیت جدید نوع یک</option>
								<option value="update_expire" ng-click="refresh()">آپدیت جدید نوع دو</option>
							</select>
						</td>
						<td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr>

						<td ng-if="selectedNotificationType" colspan="2">
							<textarea class="form-control" style="height:200px" ng-model="$parent.typedText" placeholder="متن خود را وارد کنید..."></textarea>
						</td>

						<td ng-if="selectedNotificationType==='ad_url'" colspan="3">
							<input class="form-control" style="direction:ltr" type="text" ng-model="$parent.typedUrl" placeholder="...لینک خود را وارد کنید"> <!-- ng-blur="isValidUrl(typedUrl)" --> 
						</td>
						<td ng-if="(selectedNotificationType==='ad_url')">
							<i style="color:red"><i class="glyphicon glyphicon-remove"></i> لینک نامعتبر!</i>
						</td>

						<td ng-if="selectedNotificationType==='ad_type'">
							<select class="form-control" ng-model="$parent.selectedType" style="direction:rtl">
								<option value="">-- نوع فروشگاه --</option>
								<option value="store_special_offer">پیشنهاد ویژه فروشگاه</option>
								<option value="store_map">نقشه فروشگاه</option>
								<option value="store_features">ویژگی های فروشگاه</option>
							</select>
						</td>

						<td ng-if="selectedNotificationType==='update_url'" colspan="3">
							<input class="form-control" style="direction:ltr" type="text" ng-model="$parent.typedUrl" placeholder="...لینک خود را وارد کنید"> <!-- ng-blur="isValidUrl(typedUrl)" --> 
						</td>
						<td ng-if="selectedNotificationType==='update_url'">
							<i style="color:red"><i class="glyphicon glyphicon-remove"></i> لینک نامعتبر!</i>
						</td>

						<td ng-if="selectedNotificationType==='update_expire'" colspan="3">
							<input class="form-control" style="direction:ltr" type="text" ng-model="$parent.typedUrl" placeholder="...لینک خود را وارد کنید"> <!-- ng-blur="isValidUrl(typedUrl)"  --> 
							<br>
							
							<p class="input-group" style="width:66%;">
				              	<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.typedDate" is-open="$parent.opened" placeholder="انتخاب تاریخ" ng-click="open($event)" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="بستن" clear-text="پاک کردن" current-text="امروز"/>
				            </p>
						</td>
						<td ng-if="selectedNotificationType==='update_expire'">
							<i style="color:red"><i class="glyphicon glyphicon-remove"></i> لینک نامعتبر!</i>
						</td>
					</tr>
					<tr>
						<td colspan="6">
							<div style="text-align:center">
								<button class="btn btn-warning" ng-click="genrateNotification()">ارسال</button>
							</div>
							<div ng-show="error">
								<p style="color:red;text-decoration:underline"><i class="glyphicon glyphicon-warning-sign"> </i>{{error}}</p>
							</div>
							<div ng-show="selectedDataIsValid*showResultCount">
								<span style="font-size:14px"><label class="label label-info">تعداد اعلان های ارسال شده: <span class="badge">{{numberOfGeneratedNotifications}}</span></label></span>
							</div>
			 			</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	
</div>